.analytics-page {
  padding: 55px;
}

.charts-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 30px; /* Space between grid items */
}

.chart-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 250px; /* Fixed height for uniformity */
}

.chart-card h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center;
}

.software-list {
  margin-top: 30px;
}

.software-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.software-list table th,
.software-list table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Media Queries */
@media (max-width: 1200px) {
  .charts-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .charts-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column on small screens */
  }
}
