/* General Navbar Styles */
.navbar {
  background-color: #9b2226;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* When open, apply blur to background */
.navbar.blurred {
  backdrop-filter: blur(5px);
}

.navbar .logo {
  color: #fff;
}

/* Navigation Links (desktop version) */
.nav-links {
  list-style: none;
  display: flex;
  font-weight: bold;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #000;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.hamburger.open .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar2 {
  opacity: 0; /* Hide middle bar */
}

.hamburger.open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    width: 100%;
    height: 50vh; /* Limit height to 50vh */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Hide off-screen by default */
    z-index: 999;
  }

  .nav-links.open {
    transform: translateX(0); /* Slide in when open */
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex; /* Show hamburger on small screens */
  }
}

/* Overlay when menu is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 500;
}
